<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{siteName}}--代理商银行卡</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="{{layerCssPath}}?version={{version}}" media="all">
  <link rel="stylesheet" href="{{layerStaticDomain}}/style/admin.css?version={{version}}" media="all">
</head>
<body>
  <div class="layui-card-body layui-form">

      <form id="myform" onsubmit="return false">
          <input type="hidden" name="id" value="{{info.id}}">
          <div class="layui-form-item">
              <label class="layui-form-label">币地址</label>
              <div class="layui-input-block">
                  {{info['address']}}
              </div>
          </div>
          <div class="layui-form-item">
              <label class="layui-form-label">类型</label>
              <div class="layui-input-block">
                  {{info['channel']}}
              </div>
          </div>
          <div class="layui-form-item">
              <label class="layui-form-label">二维码</label>
              <div class="layui-input-block" id="address_qr">

              </div>
          </div>
          <div class="layui-form-item">
              <label class="layui-form-label">状态：</label>
              <div class="layui-input-block">
                  {% for keys ,it in agentBankStatus%}
                  <input type="radio" name="status" value="{{keys}}" title="{{it.value}}" {% if keys == info.status %} checked{% endif %}>
                  {% endfor %}
              </div>
          </div>
          <div class="layui-form-item">
              <label class="layui-form-label">备注</label>
              <div class="layui-input-block">
                  <textarea class="layui-textarea" name="remark">{{info['remark']}}</textarea>
                  如果拒绝请填写拒绝原因
              </div>
          </div>
          <div class="layui-form-item box-center" style="text-align: center;">
              <button class="layui-btn" id="submitBtn">提交</button>
          </div>
      </form>
  </div>
  <script src="{{layerStaticDomain}}/layui/layui.js"></script>
  <script src="{{layerStaticDomain}}/static/js/jquery.min.js"></script>
  <script src="{{layerStaticDomain}}/static/js/qrcode.min.js"></script>

  <script type="text/javascript">

      $(function(){
          new QRCode(document.getElementById("address_qr"), {
              text: "{{info['address']}}",
              width: 128,
              height: 128,
              colorDark : "#000000",
              colorLight : "#ffffff",
              correctLevel : QRCode.CorrectLevel.H
          });
      })
      /**/
  </script>
  <script>
      layui.config({
        version: "{{version}}",
        base: '{{layerStaticDomain}}/' //静态资源所在路径
      }).extend({
        index: 'lib/index' //主入口模块
      }).use(['index', 'form'], function(){
        var $ = layui.$
        ,form = layui.form
        ,element = layui.element;
        // 表单数据提交
        $('#submitBtn').click(function () {
          var loading = null ;
          $.ajax({
            type:'POST',
            url: '{{getu("Admin_Agentbank/manager")}}',
            data: $('#myform').serializeArray(),
            dataType: 'JSON',
            success: function (res) {
                layer.close(loading);
                if( res['code'] != 1 ){
                  layer.msg(res['msg'] , {icon : 5 } )
                  return ;
                }
                layer.alert('设置成功', {}, function(){
                    parent.closeAndLoadData(); 
                });
            },
            beforeSend: function(){
              loading = layer.load(0, {shade: [0.1,'#fff']})
            },
            error: function (){
              layer.close(loading)
              layer.msg("网络繁忙请稍后" , {icon : 5 } )
            }
          });
        return false;
        });
});
</script>
</body>
</html>