
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{siteName}}-角色管理</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="{{layerCssPath}}?version={{version}}" media="all">
  <link rel="stylesheet" href="{{layerStaticDomain}}/style/admin.css?version={{version}}" media="all">
</head>
<body>
  <div class="layui-fluid">
    <div class="layui-card">
      <div class="layui-form layui-card-header layuiadmin-card-header-auto">
        <div class="demoTable">
			  	角色名称：
			  <div class="layui-inline">
			    <input class="layui-input" name="role_name" placeholder="请输入角色名称进行搜索" id="search_ipt" autocomplete="off">
			  </div>
			     <button id="search" class="layui-btn layuiadmin-btn-comm" data-type="reload" lay-submit="" lay-filter="LAY-app-contcomm-search">
                  <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                </button>
			</div>
      </div>
      <hr class="layui-bg-gray" />
        <blockquote class="layui-elem-quote">如果权限组的权限更新要及时的<a lay-href="{{getu('cache/index')}}" class="layui-badge">清除权限缓存</a></blockquote>
      <div class="layui-card-body">
        <div style="padding-bottom: 10px;">
          <button class="layui-btn layuiadmin-btn-admin addRole">添加角色</button>
        </div>
        
      </div>
    </div>
    <div class="layui-row">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-body">
           
            <table class="layui-hide" id="role_table" lay-filter="test"></table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/html" id="role">
	  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
	  <!--<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>-->
	</script>
  <script src="{{layerStaticDomain}}/layui/layui.js"></script>  
 	<script>
  	var _table = null; 
	  layui.config({
        version: "{{version}}",
	    base: '{{layerStaticDomain}}/' //静态资源所在路径
	  }).extend({
	    index: 'lib/index' //主入口模块
	  }).use(['index', 'form', 'table'],function(){
	    var $ = layui.$
	    ,admin = layui.admin
	    ,element = layui.element
	    ,form = layui.form,
	    table = layui.table;
	    form.render(null, 'component-form-element');
	    table.render({
		    elem: '#role_table'
		    ,url:'{{getu("admin_admin/role" , "inajax=1")}}'
		    ,title: '用户数据表'
            ,toolbar: true
            ,defaultToolbar:['filter']
		    ,cols: [[
		      {field:'role_id', title:'编号', width:100, minWidth: 60, sort: true},
		      {field:'role_name', title:'角色名称', minWidth: 150},
              {field:'remark', title:'备注', minWidth: 150},
		      {field:'addtime', title:'添加时间', minWidth: 150},
		      {field:'status', title:'状态', width:80, templet: function(res){
		      	if (res.status === '1') {
		      		return '<button class="layui-btn layui-btn-normal layui-btn-xs">正常</button>'
		      	}	else {
		      		return '<button class="layui-btn layui-btn-danger layui-btn-xs">已关闭</button>'
		      	}
		      }},
		      {title:'操作', toolbar: '#role', width:100}
		    ]]
				,id: 'role_tables'
		    ,page: true
		    ,limits: [10,50,100] // 每页展示条数
		    ,limit: {{pageSize}} // 每页默认显示的数量;注意：需要和后台首次传递过来的条数相同
		  });
	    
      // 操作功能
		  table.on('tool(test)', function(obj){
		    var data = obj.data;
		    if(obj.event === 'edit'){
		    	addOrEditRole(data.role_id)
		    }
		  });
		  
	  	// 添加角色
	    $(".addRole").click(function(){
	        addOrEditRole()
	    });

	    // 角色名称 搜索
	    $('#search').click(function () {
	    	search();
	    });
	    
	    // 角色名称 文本框回车
	    $('#search_ipt').keydown(function (event) {
	    	if (event.keyCode === 13) {
	    		search();
	    	}
	    });
    
		  // 根据角色名称的文本框值 修改table数据
			function search() {
				var $val = $('#search_ipt').val().trim();
				table.reload('role_tables', {
			    page: {
			      curr: 1 //重新从第 1 页开始
			    }
			    ,where: {
			        role_name: $val
			    }
			  });
			};
			
			// 添加权限或者编辑权限
		  function addOrEditRole(id){
		  	var title = '添加新角色',
				_url = "{{getu('admin_admin/addRole')}}", // 权限数据请求地址
				flag = true; // 用于判断关闭按钮触发还是数据提交触发
				if (id) {
					title = '修改角色';
					_url = "{{getu('admin_admin/editRole')}}?roleid="+id
				}
			  _table = layer.open({
			      type: 2
			      ,title: title	// 标题
			      ,content: _url	// url
			      ,maxmin: true	// 是否可以全屏
			      ,area: ['80%', '80%'] // 弹出层的宽/高
			      ,end: function () { // 页面销毁后执行
			      	if (flag) {	// 数据提交触发
				      	var $val = $('#search_ipt').val().trim();
					    	table.reload('role_tables', {
					        where: {
					            role_name: $val
					        }
					      });
				      }
			      }
			      ,cancel: function () { // 右上角关闭按钮触发的回调
			      	flag = false;
			      }
			  });
		 	}
	});
	// 用于role_add或者role_edit页面调用;
	function closeAndLoadData(){ 
	  layer.close(_table); // 销毁layer弹出层
	}
  </script>
</body>
</html>