<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{siteName}}--后台用户修改</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="{{layerCssPath}}" media="all">
  <link rel="stylesheet" href="{{layerStaticDomain}}/style/role.css?version={{version}}" media="all">
  <link rel="stylesheet" href="{{layerStaticDomain}}/style/admin.css?version={{version}}" media="all">
</head>
<body>
  <div class="layui-card-body ">
    <blockquote class="layui-elem-quote">
        <p style="color: #FF5722;">1：如果是管理员不需要选择角色</p>
        <p style="color: #FF5722;">2：如果是管理员不需要选择特殊权限</p>
    </blockquote>
    <form id="myform" class="" onsubmit="return false">
        <input type="hidden" name="user_id"  value="{{info.user_id}}" />
        <div class="layui-form-item">
            <label class="layui-form-label">登录账号</label>
            <div class="layui-input-inline">
            <button class="layui-btn layui-btn-disabled layui-btn-radius">{{info.username}}</button>
            </div>
            <div class="layui-form-mid layui-word-aux">禁止修改</div>
        </div>
       
        <div class="layui-form-item">
            <label class="layui-form-label">昵称：<span style="color: #FF5722;">*</span></label>
            <div class="layui-input-inline">
              <input type="text" name="nick" id="nick" placeholder="" autocomplete="off" class="layui-input" value="{{info.nick}}">
            </div>
            <div class="layui-form-mid layui-word-aux">请输入昵称！！方便识别</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码：</label>
            <div class="layui-input-inline">
              <input type="text" name="passwd" id="passwd" placeholder="" autocomplete="off" class="layui-input" value="">
            </div>
            <div class="layui-form-mid layui-word-aux" >如果要修改请填写新的密码!</div>
        </div>
        <div class="layui-form-item layui-form">
            <label class="layui-form-label">状态：</label>
            <div class="layui-input-inline">
                <input type="radio" name="status" value="1" title="正常" {% if info.status == 1 %}checked{%endif%}>
                <input type="radio" name="status" value="2" title="禁用" {% if info.status == 2 %}checked{%endif%}>
            </div>
             <div class="layui-form-mid layui-word-aux">如果禁用那么之后无法登录</div>
            
        </div>
        <div class="layui-form-item layui-form" lay-filter="sex">
          <label class="layui-form-label">管理员</label>
          <div class="layui-input-block">
            {% if info.super == 1 %}
            <input name="super" value="1" title="是" checked type="radio">
            <div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><div>是</div></div>
            <input name="super" value="2" title="否"  type="radio"><div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon layui-anim-scaleSpring"></i><div>否</div></div>
            {% else %}
            <input name="super" value="2" title="否" checked type="radio">
            <div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon layui-anim-scaleSpring"></i>
                <div>否</div>
            </div>
            <input name="super" value="1" title="是" type="radio"><div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><div>是</div></div>
            {% endif %}
          </div>
        </div>
        <div class="layui-form-item layui-form" >
            <label class="layui-form-label">角色</label>
            <div class="layui-input-block">
              {% if allRole|length > 0 %}
                  {% for it in allRole%}
                  <input type="checkbox" name="role_id[]" value="{{it.role_id}}" title="{{it.role_name}}" lay-skin="primary" {% if it.role_id in role_ids %} checked{% endif %}>
                  {% endfor %}
              {% else %}
              <a class="layui-btn layui-btn-danger" lay-href="{{getu('admin/addRole')}}">去添加却色</a>
              {% endif %}
            </div>
            <div class="layui-form-mid layui-word-aux">如果是管理员不需要选择角色</div>
        </div>
        <div class="layui-form-item">
        <label class="layui-form-label">特殊权限</label>
        <div class="layui-input-block" >
            <div class="eleTree ele1" lay-filter="data1"></div>
        </div>
      </div>
        <div class="layui-form-item box-center">
          <button class="layui-btn" id="submitBtn">提交</button>
        </div>
  </form>
  </div>
  <script src="{{layerStaticDomain}}/layui/layui.js"></script>  
  <script>
      layui.config({
        version: "{{version}}",
        base: '{{layerStaticDomain}}/' //静态资源所在路径
      }).extend({
        index: 'lib/index' //主入口模块
      }).use(['index', 'form', 'eleTree'], function(){
        var $ = layui.$
        ,form = layui.form
        ,element = layui.element;
        var eleTree = layui.eleTree;
        eleTree.render({
            elem: '.ele1',
            //url: "{{getu('extra/getRoleNav')}}",
            //type: "GET",
            data: {{jsonRole|raw}},
            showCheckbox: true,
            //contextmenuList: ["copy","add","edit","remove"],
            drag: true,
            accordion: true
        });
        // 表单数据提交
        $('#submitBtn').click(function () {
          var loading = null ;
          var arr = new Array();
          $("input:checkbox[name='eleTree-node']").each(function(i){
                if($(this).attr("eletree-status") == 1 || $(this).attr("eletree-status") == 2 ) {
                    arr.push($(this).val()) 
                }
          });
          var _data = $('#myform').serializeArray()
          _data.push({name : "modules" , value : JSON.stringify(arr)})
          $.ajax({
            type:'POST',
            url: '{{getu("admin_admin/userEdit")}}',
            data: _data,
            dataType: 'JSON',
            success: function (res) {
                layer.close(loading);
                if( res['code'] != 1 ){
                  layer.msg(res['msg'] , {icon : 5 } )
                  return ;
                }
                layer.alert('修改成功', {}, function(){
                    parent.closeAndLoadData(); 
                });
            },
            beforeSend: function(){
              loading = layer.load(0, {shade: [0.1,'#fff']})
            },
            error: function (){
              layer.close(loading)
              layer.msg("网络繁忙请稍后" , {icon : 5 } )
            }
          });
        return false;
        });

        var $this = $("#authority"),
        obj = {
            ckx     : $this.find(":checkbox, .icon"),
            li      : $this.find(".authority-item"),
            ckxIcon : $("span.icon")
        };
        
        // 当前元素被点击，向上冒泡input:checkbox执行选中或者取消操作
        obj.li.on('click', function(event) {
            if(event.target.tagName === 'LABEL') return ;
            var $find = $(event.currentTarget).children("label").find(obj.ckx);
            if(event.target.checked) {
                $find.prop("checked",true).prev(".icon").addClass('active');
            } else {      
            //这个判断用于防止兄弟被选中的情况下还冒泡上级取消被选
            if($(event.currentTarget).children(".authority-list").find(":checked").length<=0){
              $find.prop("checked",false).prev(".icon").removeClass('active');
            }
          }
        });
        
        // 当前元素被选中，找到所有内部input:checkbox 执行选中或者取消操作
        obj.ckx.on('click', function(event) {
            var $find = $(event.target).closest(obj.li).find(obj.ckx);
          if(event.target.checked){
                $find.prop("checked",true).prev(".icon").addClass('active'); 
            }else{
                $find.prop("checked",false).prev(".icon").removeClass('active'); 
            }
        });
      
      // 当元素被hover时，添加hover样式
        obj.li.children('label').hover(function() {
            $(this).children('.icon').addClass('hover');
        }, function() {
            $(this).children('.icon').removeClass('hover');
        });
});
</script>
</body>
</html>