<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{siteName}}--商户管理系统</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="{{layerCssPath}}" media="all">
  <link rel="stylesheet" href="{{layerStaticDomain}}/style/admin.css" media="all">

</head>
<body class="layui-layout-body">
  
  <div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
      <div class="layui-header">
        <!-- 头部区域 -->
        <ul class="layui-nav layui-layout-left">
          <li class="layui-nav-item layadmin-flexible" lay-unselect>
            <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
              <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
            </a>
          </li>
     
          <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;" layadmin-event="refresh" title="刷新">
              <i class="layui-icon layui-icon-refresh-3"></i>
            </a>
          </li>
          
        </ul>
        <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
          
      
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="theme">
              <i class="layui-icon layui-icon-theme"></i>
            </a>
          </li>
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="note">
              <i class="layui-icon layui-icon-note"></i>
            </a>
          </li>
          <li class="layui-nav-item layui-hide-xs" lay-unselect>
            <a href="javascript:;" layadmin-event="fullscreen">
              <i class="layui-icon layui-icon-screen-full"></i>
            </a>
          </li>
          <li class="layui-nav-item" lay-unselect>
            <a href="javascript:;">
              <cite>{{userInfo.account}}</cite>
            </a>
            <dl class="layui-nav-child">
              <dd><a lay-href="/Merch_user/editpasswd">修改密码</a></dd>
              <dd><a href="/Merch_login/loginOut">退出</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-unselect>
            <a href="javascript:;" layadmin-event="more"><i class="layui-icon layui-icon-more-vertical"></i></a>
          </li>
        </ul>
      </div>
      
      <!-- 侧边菜单 -->
      <div class="layui-side layui-side-menu">
        <div class="layui-side-scroll">
          <div class="layui-logo" >
            <span style="font-size: 24px;font-weight: bold;color: blue;">商户后台系统</span>
          </div>
          
          <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">
            <li data-name="home" class="layui-nav-item layui-nav-itemed">
              <a href="javascript:;" lay-tips="主页" lay-direction="2">
                <i class="layui-icon layui-icon-home"></i>
                <cite>主页</cite>
              </a>
              <dl class="layui-nav-child">
                <dd data-name="console" class="layui-this">
                  <a lay-href="/Merch_index/home">控制台</a>
                </dd>
               
              </dl>
            </li>
            {% for keys ,it in menu %}
            <li  class="layui-nav-item">
              <a href="javascript:;" lay-tips="{{it.tips}}" lay-direction="2">
                <i class="{{it.icon_class}}"></i>
                <cite>{{it.name}}</cite>
              </a>
              {% if it.child|length > 0 %}
              <dl class="layui-nav-child">
                {% for skeys,its in it.child %}
                {% if its.child|length > 0 %}
                  <dd data-name="grid">
                  <a href="javascript:;">{{its.name}}</a>
                  <dl class="layui-nav-child">  
                    {% for akeys ,aits in its.child %}
                    <dd data-name="demo_{{keys}}-{{skeys}}-{{akeys}}"> 
                    <a lay-href="{{aits.href}}" lay-text="{{aits.name}}">{{aits.name}}</a> 
                    </dd>  
                    {% endfor %}
                  </dd>
                  </dl> 
                {% else %}
                 <dd ><a lay-href="{{its.href}}">{{its.name}}</a></dd>
                {% endif %}
                
                {% endfor %}
              </dl>
              {% endif %}
            </li>
            {% endfor %}

            <li data-name="home" class="layui-nav-item">
              <a lay-href="/doc.html"  lay-tips="对接文档" lay-direction="111112">
                <i class="layui-icon layui-icon-home"></i>
                <cite>对接文档</cite>
              </a>
            </li>
            {% if is_allow == 1   %}
            <li data-name="home" class="layui-nav-item">
              <a target="_blank" href="/Merch_Test/index" lay-tips="主页" lay-direction="111112">
                <i class="layui-icon layui-icon-home"></i>
                <cite>下单测试</cite>
              </a>
            </li>
            {% endif %}

          </ul>
        </div>
      </div>

      <!-- 页面标签 -->
      <div class="layadmin-pagetabs" id="LAY_app_tabs">
        <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
        <div class="layui-icon layadmin-tabs-control layui-icon-down">
          <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
            <li class="layui-nav-item" lay-unselect>
              <a href="javascript:;"></a>
              <dl class="layui-nav-child layui-anim-fadein">
                <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
              </dl>
            </li>
          </ul>
        </div>
        <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
          <ul class="layui-tab-title" id="LAY_app_tabsheader">
            <li lay-id="/Merch_index/home" lay-attr="/Merch_index/home" class="layui-this"><i class="layui-icon layui-icon-home"></i></li>
          </ul>
        </div>
      </div>
      
      
      <!-- 主体内容 -->
      <div class="layui-body" id="LAY_app_body">
        <div class="layadmin-tabsbody-item layui-show">
          <iframe src="/Merch_index/home" frameborder="0" class="layadmin-iframe"></iframe>
        </div>
      </div>
      
      <!-- 辅助元素，一般用于移动设备下遮罩 -->
      <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
  </div>

  <script src="{{layerStaticDomain}}/layui/layui.js"></script>
  <script>
  layui.config({
    base: '{{layerStaticDomain}}/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use('index' , function () {
    var str = '{"color":{"main":"#344058","logo":"#0085E8","selected":"#1E9FFF","header":"#1E9FFF","alias":"ocean-header","index":10}}'
    localStorage.removeItem("layuiAdmin");
    localStorage.setItem("layuiAdmin",str);
  });
  </script>
  

</body>
</html>


