<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{siteName}}-商户提现</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="{{layerCssPath}}?version={{version}}" media="all">
    <link rel="stylesheet" href="{{layerStaticDomain}}/style/admin.css?version={{version}}" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-card-body">
                <form  id="myform" class="layui-form"  onsubmit="return false ">
                    <div class="layui-row layui-col-space10 layui-form-item">
                        <div class="layui-col-lg3">
                            <label class="layui-form-label">商户id</label>
                            <div class="layui-input-inline">
                                <input class="layui-input" name="mid" placeholder="请输入商户id搜索" id="mid" autocomplete="off">
                            </div>
                        </div>
                        <div class="layui-col-lg3">
                            <label class="layui-form-label">商户账号</label>
                            <div class="layui-input-inline">
                                <input class="layui-input" name="account" placeholder="请输入登录账号搜索" autocomplete="off">
                            </div>
                        </div>
                        <div class="layui-col-lg3">
                            <label class="layui-form-label">商户提现单号</label>
                            <div class="layui-input-inline">
                                <input class="layui-input" name="merch_order" placeholder="请输入商户提现单号搜索" autocomplete="off">
                            </div>
                        </div>
                        <div class="layui-col-lg3">
                            <label class="layui-form-label">系统提现单号</label>
                            <div class="layui-input-inline">
                                <input class="layui-input" name="order_no" placeholder="请输入系统提现单号搜索" autocomplete="off">
                            </div>
                        </div>
                        <div class="layui-col-lg3">
                            <label class="layui-form-label">状态</label>
                            <div class="layui-input-inline">
                                <select name="status" >
                                    <option value="">请选择</option>
                                    {% for keys ,it in statusData%}
                                    <option value="{{keys}}">{{it.value}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="layui-col-lg3">
                            <div class="layui-input-inline">
                                <button id="search" class="layui-btn layuiadmin-btn-comm" data-type="reload" lay-submit="" lay-filter="LAY-app-contcomm-search">
                                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                                </button>
                            </div>
                        </div>
                    </div>


                </form>
            </div>

        </div>

</div>

    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <table class="layui-hide" id="table_src" lay-filter="test"></table>
                </div>
            </div>
        </div>
    </div>

{% verbatim %}
<script type="text/html" id="role">
    {{ d.status == 1 ? '<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="agree">审核通过</a>
    <a class="layui-btn layui-btn-sm" lay-event="return">驳回</a>' : '无' }}
</script>
    <script type="text/html" id="txid">

        {{# if(d.txid != ''  ){ }}

        <a  title="点我查询地址信息----" target="_blank" style="color:blue;" href="https://tronscan.io/#/transaction/{{ d.txid }}" >
            {{ d.txid }}
        </a>
        {{# } else { }}

        ----

        {{# } }}
    </script>
{% endverbatim %}
<script src="{{layerStaticDomain}}/layui/layui.js"></script>
<script>
    var _table = null;
    layui.config({
        version: "{{version}}",
        base: '{{layerStaticDomain}}/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'table'],function(){
        var $ = layui.$
            ,admin = layui.admin
            ,element = layui.element
            ,form = layui.form,
            table = layui.table;
        form.render(null, 'component-form-element');
        table.render({
            elem: '#table_src'
            ,url:'{{getu("Admin_Merchwithdraw/index" , "inajax=1")}}'
            ,title: '商户提现'
            ,toolbar: true
            ,defaultToolbar:['filter']
            ,cols: [[
                {field:'id', title:'编号', width:100, minWidth: 60, sort: true},
                {field:'mid', title:'商户编号', width:100, minWidth: 60, sort: true},
                {field:'merch_order', title:'商户提现单号', width:150, minWidth: 60},

                {field:'order_no', title:'系统提现单号', width:150, minWidth: 60},
                {field:'money', title:'提现币数量', width:100},
                {field:'fixed_poundage', title:'固定手续费', width:100},
                {field:'account', title:'商户账号', width:100},
                {field:'name', title:'商户名称', width:100},
                {field:'address', title:'币地址', width:200, sort: true},
                {field:'w_name', title:'名称', width:100},
                {field:'create_time', title:'添加时间', minWidth: 150, sort: true},
                {field:'statusString', title:'状态', width:100},
                {field:'remark', title:'备注', width:140},
                {field:'txid', title:'交易id', width:140 , hide : false,templet: '#txid'},
                {field:'notify_url', title:'异步通知地址', width:140},
                {field:'comeString', title:'来源', width:140},
                {title:'操作', toolbar: '#role',  fixed: 'right', width:200}
            ]]
            ,id: 'tables_id'
            ,page: true
            ,limits: [10,20,30,40,50] // 每页展示条数
            ,limit: {{pageSize}} // 每页默认显示的数量;注意：需要和后台首次传递过来的条数相同
    });

        // 操作功能
        table.on('tool(test)', function(obj){
            var data = obj.data;
            if(obj.event === 'agree'){//审核通过
                action(data.id , 3 )
            } else if (obj.event === 'return'){
                action(data.id , 2 )
            }
        });
        $('#search').click(function () {
            search();
        });
        $('#search_ipt').keydown(function (event) {
            if (event.keyCode === 13) {
                search();
            }
        });

        function search() {
            var $where = getWhere();
            table.reload('tables_id', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                ,where: $where
            });
        };
        function getWhere(){
            var _data = $("#myform").serializeArray()
            var  o_data = {}
            for( var i in _data ){
                o_data[_data[i]['name']] = _data[i]['value']
            }
            return o_data
        }

        function action( id ,status ){
            if(status == 2 ){
                layer.prompt({title: '请输入驳回理由', formType: 2}, function(text, index){
                    layer.close(index);
                    send_request( {id : id , status : 2 , 'remark' : text   } )
                });
            } else if(status == 3 ){
                /*layer.confirm("请先去打款，然后在点击这个按钮~~<br />一定要先打款了 然后在点击 <br />一定要先这样<br />一定要先这样<br />一定要先这样", function(index){
                    layer.close(index);
                    send_request( {id : id , status : 3 } )
                });*/
                show_auth_success(id)
            }
        }

        function show_auth_success(id) {
            var title = '审核通过页面',
                _url = "/Admin_Merchwithdraw/auth?action=show_success&id="+id, // 权限数据请求地址
                flag = true; // 用于判断关闭按钮触发还是数据提交触发
            var area = ['80%', '80%']
            _table = layer.open({
                type: 2
                ,title: title // 标题
                ,content: _url  // url
                ,maxmin: true // 是否可以全屏
                ,area: area // 弹出层的宽/高
                ,end: function () { // 页面销毁后执行
                    if (flag) { // 数据提交触发
                        var $where = getWhere();
                        table.reload('tables_id', {
                            where: $where
                        });
                    }
                }
                ,cancel: function () { // 右上角关闭按钮触发的回调
                    flag = false;
                }
            });
        }
        function send_request(send_data ){
            var loading = null ;
            $.ajax({
                type:'POST',
                url: '{{getu("Admin_Merchwithdraw/auth")}}',
                data: send_data,
                dataType: 'JSON',
                success: function (res) {
                    layer.close(loading);
                    if( res['code'] != 1 ){
                        layer.msg(res['msg'] , {icon : 5 } )
                        return ;
                    }
                    layer.alert(res['msg'], {}, function(){
                        window.location.reload()
                    });
                },
                beforeSend: function(){
                    loading = layer.load(0, {shade: [0.1,'#fff']})
                },
                error: function (){
                    layer.close(loading)
                    layer.msg("网络繁忙请稍后" , {icon : 5 } )
                }
            });
        }

    });
    // 用于role_add或者role_edit页面调用;
    function closeAndLoadData(){
        layer.close(_table); // 销毁layer弹出层
    }

</script>
</body>
</html>